/* Global variables (colour) styling */
:root {
    --white: #FFFFFF;
    --darkgreen: #386641;
    --green: #6A994E;
    --lightgreen: #A7C957;
    --beige: #F2E8CF;
    --brickred: #9b3a3c;
    --black: #000000;
}

/* Root page elements styling */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--beige);
}

p {
    margin: 0;
}

/* Link styling */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--beige);
}

ul a:hover {
    text-decoration: none;
}

/* Typography styling */
h1 {
    font-size: 45px;
    margin: 0px 0px;
    color: var(--lightgreen);
}

h2 {
    font-size: 35px;
    margin: 0px 0px;
    color: var(--green);
}

/*header styling*/
.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/stock-images/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 15%;
}

.display-4 {
    text-shadow: 2px 2px #272727;
}

.sectionHeading {
    text-shadow: 2px 2px #111d10;
}

.lead {
    color: rgb(238, 238, 238);
    text-shadow: 1px 1px #000000;
    background-color: rgba(34, 34, 34, 0.4);
}


/* Content Styling */
#recipes {
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
}

#ingredients-list {

}

#steps-list {

}
/* Navigation styling */
nav a:hover {
    background-color: var(--lightgreen);
    text-shadow: 0 0 3px var(--beige);
}

/* Cards styling*/
.cardContainer {
    margin-bottom: 15px;
}

.card {
    margin: 0 auto;
}

/* Applies box shadow to all buttons upon hover */
.btn:hover {
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.3);
}

/* Footer / Contact section styling */
/* Utilises Flex for positioning */
footer {
    background-color: var(--brickred);
    width: 100%;
    margin-top: 10px;
}

.contact {
    padding-top: 5px;
    margin-top: 50px;
}

#footerItems {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 75px;
    font-size: 18px;
}

footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

footer ul li {
    cursor: pointer;
    padding: 10px;
}

footer a {
    color: white;
}

/* Prefixes the logo to the link */
.logo-github::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url("../Images/github-mark-white.png") no-repeat center center;
    background-size: contain;
}

.logo-spoonacular::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url("../Images/spoonacular-logo-b.svg") no-repeat center center;
    background-size: contain;
}

.logo-edamam::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url("../Images/small-logo.png") no-repeat center center;
    background-size: contain;
}